{
	"PORT": "",
    "DATABASE_URL": "",
    "SECRET_KEY": "",
    "ICB_RPC_URL": "",
    "RECEIVER_EMAIL": "",
	"mailgun": {
        "MAILGUN_API_KEY": "",
        "MAILGUN_DOMAIN": "",
        "MAILGUN_FROM": ""
    }
}
